# CODEOWNERS

# Infrastructure Team
.github             @mindsdb/devops
deployment          @mindsdb/devops
alembic             @mindsdb/devops
alembic.ini         @mindsdb/devops
Makefile            @mindsdb/devops
